.bgYellow {
    background-color: #FF9F1C;
}

.bgSecond {
    background-color: #283246;
}

.bgWhite {
    background-color: #ffff;
}

.badge {
    background-color: #A927F9;
}

.colorYellow {
    color: #FF9F1C;
}