.TitleDivider {
    background-color: #FF9F1C;
}

.saldo {
    background-color: #FF9F1C;
}

.newsContent {
    color: black;
}

.dashboard {
    background-color: #252633;
}

.dashboardContent {
    background-color: #343546;

    .title {
        color: #FF9F1C;
    }

}
.yellow {
    color: #FF9F1C;
}
