.bgYellow {
    background-color: #FF9F1C;
}

.bgYellowSecond {
    background-color: #FFBF69;
}

.bgWhite {
    background-color: #ffff;
}

.badge {
    background-color: #A927F9;
}

.colorYellow {
    color: #FF9F1C;
}