// @import "slick-carousel/slick/slick.css";
// @import "slick-carousel/slick/slick-theme.css";

.TitleDivider {
    background-color: #FF9F1C;
}

.newsContent {
    color: black;
}

.dashboard {
    background-color: #252633;
}

.dashboardContent {
    background-color: #343546;

    .title {
        color: #FF9F1C;
    }
}
