.divider {
    background-color: #FF9F1C;
}

.bgTransparent {
    background-color: rgba(40, 50, 70, 0.5);
}

.filter {
    color: #FF9F1C;
}

.card {
    background-color: #ffff;
    color: black;
    
    .badgePrimary {
        background-color: #FF9F1C;
        color: #ffff;
    }
    .badgeSecondary {
        background-color: #283246;
        color: #ffff;
    }
    .badgeThird {
        background-color: #A927F9;
        color: #ffff;
    }

    .price {
        color: #FF9F1C;
    }
}

