.page {
    background-color: #1f2028;
}

.sidebar {
    background-color: #1f2028;
    animation: slideIn .5s;
    color: #ffff;
}

.sideNav:hover {
    background-color: #FF9F1C;
    font-weight: 700;
    color:black;
    transition: .5s;
}

.profile {
    background-color: #1C1D25;
}

.title {
    color: #ffff;
}

.bab {
    background-color: #DC4343;
}

.badge {
    background-color: #FF9F1C;
}

.searchForm {
    background-color: #151622;
    color: #ffff;
    border-width: 1px;
    border-color: #54545A;
}

.directMessage {
    color: #79818F;
}

.content {
    color: #ffff;
}

.chatDate {
    color: #9DA7B5;
}

.card2 {
    background-color: #252633;

    .card2Title {
        color: #FF9F1C;
    }
}
