.page {
    background-color: #1f2028;
    color: #ffff;
}

.navbar {
    background-color: #353535;
}

@keyframes slideIn {
    from {transform: translateX(-400px);}
    to {transform: translateX(0);}
}

@keyframes slideOut {
    from {transform: translateX(0);}
    to {transform: translateX(-400px);}
}

@keyframes slideIn2 {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideOut2 {
    from {
        transform: translateY(0);
        opacity: 1;
    }
    to {
        transform: translateY(-20px);
        opacity: 0;
        display: hidden;
    }
}

.profile {
    animation: slideIn2 .5s;
}

.profileHide {
    display: hidden;
    animation: slideOut2 .5s;
    opacity: 0;
}

.sidebar {
    background-color: #151622;
    animation: slideIn .5s;
    // height: calc(100vh - 70px);
}

.sidebarHide {
    animation: slideOut .5s;
    transform: translateX(-400px);
    opacity: 0;
    transition: 1s;
    height: 0px;
}
.sideNav:hover {
    background-color: #FF9F1C;
    // font-weight: 700;
    color:black;
    transition: .5s;
}


.TitleDivider {
    background-color: #FF9F1C;
}

.newsContent {
    color: black;
}

.dashboard {
    background-color: #252633;
}

.dashboardContent {
    background-color: #343546;

    .title {
        color: #FF9F1C;
    }
}

.content {
    background-color: #252633;
}

.strip {
    background-color: #FF9F1C;
}

.allProduct:hover {
    color: #FF9F1C;
    transition: .5s;
}

@keyframes slideIn2 {
    from {transform: translateY(-50px);}
    to {transform: translateY(0);}
}

.childProduct {
    animation: slideIn2 .5s;
}

