.divider {
    background-color: #FF9F1C;
}

.filter {
    color: #FF9F1C;
}

.allProduct {
    color: #FF9F1C;
}

.card {
    background-color: #ffff;
    color: black;
    
    .badge {
        background-color: #A927F9;
        color: #ffff;
    }

    .price {
        color: #FF9F1C;
    }
}

.btn {
    background-color: #FF9F1C;
    color: #ffff;
}

